apiVersion: apps/v1
kind: Deployment
metadata:
  name: operator
  namespace: tailscale
spec:
  replicas: 1
  strategy:
    type: Recreate
  selector:
    matchLabels:
      app: operator
  template:
    metadata:
      labels:
        app: operator
    spec:
      serviceAccountName: operator
      containers:
      - name: operator
        image: tailscale/k8s-operator:latest
        imagePullPolicy: Always
        env:
        - name: OPERATOR_INITIAL_TAGS
          value: "tag:k8s"
        - name: OPERATOR_HOSTNAME
          value: "tailscale-operator"
        - name: OPERATOR_SECRET
          value: "operator-state"
        - name: OPERATOR_LOGGING
          value: "info"
        - name: OPERATOR_NAMESPACE
          valueFrom:
            fieldRef:
              fieldPath: metadata.namespace
        - name: CLIENT_ID_FILE
          value: ""
        - name: CLIENT_SECRET_FILE
          value: ""
        - name: TS_AUTHKEY
          valueFrom:
            secretKeyRef:
              name: tailscale-auth
              key: TS_AUTHKEY
        - name: PROXY_IMAGE
          value: "tailscale/tailscale:latest"
        - name: PROXY_TAGS
          value: "tag:k8s"
        - name: APISERVER_PROXY
          value: "false"
        - name: PROXY_FIREWALL_MODE
          value: "auto"
